* {
    margin: 0;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    color: white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}
.pars {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.tels {
    display: flex;
    align-items: center;
    gap: 20px;
}
.tel-1 {
      display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px; 
    font-weight: 600;
}
.tel-2 {
    padding-left: 50px;
}
.hide-in-desk {
    display: none;
}
.sector-1 h2 {
    font-size: 85px;
    font-weight: bolder;
    padding: 13% 0px 30px;
}
.sector-1  {
padding-left: 50px;
}
.sector-1 p {
    font-size: 25px;
    padding-bottom: 30px;
    color: rgba(210, 210, 210, 1);
}
.but-1 {
    font-size: 20px;
    background-color:rgba(14, 158, 47, 1) ;
    padding: 20px 35px;
     color: white;
     border: none;
}
.img-1 {
    position: absolute;
    top: 80%;
    left: 90%;
}







@media (max-width:510px) {
    header {
        height: 180vh;
    }
    nav {
        background-color: rgba(54, 53, 53, 0.767);
        justify-content: space-between;
        padding:20px 20px ;
    }
    .hide-in-phone {
        display: none;
    }
    .hide-in-desk {
        display: block;
    }
    .sector-1 {
        padding: 30px 20px 100px;
        
    }
    .sector-1 h2 {
        font-size: 35px;
    }
    .but-1 {
        padding: 20px 27%;
    }
    .img-1 {
        top:80%;
        left:80%;
        
    }
}