* {
    margin: 0;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    color: white;
}
.top-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}
.pars {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.tels {
    display: flex;
    align-items: center;
    gap: 20px;
}
.tel-1 {
      display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px; 
    font-weight: 600;
}
.tel-2 {
    padding-left: 50px;
}
.hide-in-desk {
    display: none;
}










@media (max-width:510px) {
    .top-part {
        background-color: rgba(54, 53, 53, 0.767);
        justify-content: space-between;
        padding:20px 20px ;
    }
    .hide-in-phone {
        display: none;
    }
    .hide-in-desk {
        display: block;
    }
}