* {
    margin: 0;
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img.png/Rectangle\ 47.jpg);
    color: white;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.pars {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.tels {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tel-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 23px;
    font-weight: 600;
}

.tel-2 {
    padding-left: 50px;
}

.hide-in-desk {
    display: none;
}

.sector-1 h2 {
    font-size: 85px;
    font-weight: bolder;
    padding: 13% 0px 30px;
}

.sector-1 {
    padding-left: 50px;
}

.sector-1 p {
    font-size: 25px;
    padding-bottom: 30px;
    color: rgba(210, 210, 210, 1);
}

.but-1 {
    font-size: 20px;
    background-color: rgba(14, 158, 47, 1);
    padding: 20px 35px;
    color: white;
    border: none;
}

.img-1 {
    position: absolute;
    top: 80%;
    left: 90%;
}

.section-1 {
    background-color: rgba(104, 104, 104, 1);
    padding: 70px 5%;
    color: white;
}

.section-1 h2 {
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.par-1 {
    font-size: 20px;
    width: 500px;
    color: rgba(210, 210, 210, 1);
    padding-bottom: 50px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;

}

.article-1 {
    width: 25%;
    height: 500px;
    padding: 30px;
    background-color: rgba(83, 83, 83, 1);
    border-top-right-radius: 150px;
    margin-bottom: 5%;
}

.article-1 img {
    width: 90%;
}

.article-1 h4 {
    font-size: 35px;
    padding-bottom: 20px;
}

.article-1 p {
    font-size: 20px;
    width: 320px;
    color: rgba(210, 210, 210, 1);
    padding-bottom: 30px;
}

.but-2 {
    background-color: rgba(14, 158, 47, 1);
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    border: none;
}

#img-2 {
    width: 70%;
}

#img-3 {
    width: 100%;
}

.head-2 {
    font-size: 50px;
    text-align: center;
    color: rgba(73, 75, 68, 1);
    padding: 100px 0px 50px;
}

.section-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 450px 300px;
    gap: 50px 50px;
    margin: 0px 10% 150px;

}

.sector-2 {
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.sector-2 h2 {
    font-size: 40px;
    color: rgba(14, 158, 47, 1);
    padding-bottom: 30px;
}

.sector-2 p {
    font-size: 20px;
    color: rgba(146, 147, 143, 1);
    padding-bottom: 20px;
}

.sector-3 {
    grid-area: 1/2/2/4;
}

.sector-3 img {
    width: 100%;
    height: 450px;
}

.sector-4 {
    grid-area: 2/1/3/2;
}

.sector-4 img {
    width: 100%;
    height: 300px;
}

.sector-5 {
    grid-area: 2/2/3/3;
}

.sector-6 {
    grid-area: 2/3/3/4;
}

.section-3 {
    width: 80%;
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img.png/Вход-1\ 1.jpg);
    margin: 100px auto;
    color: white;
}

.article-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 0px;
}

.sector-7 h2 {
    font-size: 50px;
    font-weight: bolder;
    width: 550px;
    margin-bottom: 50px;
}

.par-3 {
    color: rgba(14, 158, 47, 1);
    padding: 15px;
    border-top-right-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 1);
    width: 20px;
    height: 20px;
}

.play {
    display: flex;
    align-items: center;
    gap: 30px;
    color: rgba(14, 158, 47, 1);
    font-size: 20px;
    margin-bottom: 30px;
}

.par-4 {
    font-size: 20px;
    color: rgba(210, 210, 210, 1);
    width: 300px;
}

.sector-8 {
    width: 450px;
    height: 590px;
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(14, 158, 47, 1);
    border-top-right-radius: 150px;
}

.sec-1 h5 {
    font-size: 30px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 1);
}

.sec-1 p {
    font-size: 20px;
    color: rgba(242, 242, 242, 1);
}

.sec-1 {
    margin-bottom: 60px;
}

.sector-9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.sector-9 h3 {
    font-size: 50px;
    color: rgba(73, 75, 68, 1);
}

.article-4 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: rgba(146, 147, 143, 1);
    padding-bottom: 5px;
}

.par-5 {
    padding-right: 30%;
}

.section-4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}

.img-5 {
    margin: auto;
}

.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px auto;
    background-image: url(./img.png/Rectangle\ 47\ \(1\).jpg);
}

.section-5 h2 {
    font-size: 45px;
    margin-bottom: 30px;
}

.section-5 p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.but-4 {
    background-color: rgba(14, 158, 47, 1);
    color: white;
    padding: 15px 40px;
    border: none;
}

.sector-10 {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 30px;
    align-items: center;
    border-bottom: 1px solid rgba(73, 75, 68, 1);
    width: 90%;
    margin: auto 5%;
    margin-bottom: 50px;

}

.sector-10 h2 {
    font-size: 50px;
    color: rgba(146, 147, 143, 1);
}

.article-6 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-6 {
    border: 1px solid rgba(73, 75, 68, 1);
    padding: 15px;
    border-top-right-radius: 20px;
}

.section-6 {
    display: flex;
    gap: 50px;
    padding-left: 5%;
    margin-bottom: 100px;
    overflow: scroll;
}

.sector-11 {
    min-width: 25%;
    height: 420px;
    padding: 30px 20px;
    background-color: rgba(246, 246, 247, 1);
}

.sector-11 h5 {
    font-size: 35px;
    color: rgba(73, 75, 68, 1);
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(73, 75, 68, 1);
}

.par-6 {
    font-size: 30px;
    color: rgba(14, 158, 47, 1);
    margin: 20px 0px 20px;
}

.par-7 {
    font-size: 25px;
    color: rgba(146, 147, 143, 1);
    margin-bottom: 50px;
}

.article-7 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-7 p {
    font-weight: 700;
}

.article-7 img {
    width: 10%;
}

.sector-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.sector-12 h2 {
    font-size: 50px;
    color: rgba(73, 75, 68, 1);
}

.img-8 {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgba(14, 158, 47, 1);
    font-size: 30px;
}

.article-8 {
    display: flex;
    align-items: baseline;
    gap: 70px;
    margin: 20px 5%;
}

.sector-13 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sector-13 h5 {
    color: rgba(73, 75, 68, 1);
    font-size: 35px;
    padding: 20px 0px;
}

.sector-13 p {
    font-size: 25px;
    color: rgba(146, 147, 143, 1);
    padding-bottom: 20px;
}

#par-8 {
    color: rgba(14, 158, 47, 1);
}


.section-8 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img.png/tod-s-lgnEI45raTI-unsplash.png);
    color: white;
}
.article-10 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 5% 10%;
}
.sector-14 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.sector-14 h2 {
    font-size:50px;
    padding-bottom: 50px;
    font-weight: bolder;
}
.article-9{
    display: flex;
    align-items: center;
    gap: 30px;
}
.par-9 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
    color: rgba(210, 210, 210, 1);
}
.par-10 {
    padding: 10px 15px;
    border: 1px solid rgba(14, 158, 47, 1);
    border-radius: 50%;
}
.par-11 {
    font-size: 22px;
    padding-bottom: 70px;
    color: rgba(210, 210, 210, 1);
}
.sector-15 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 650px;
    padding:50px 30px;
    background-color: rgba(14, 158, 47, 1);
    border-top-right-radius: 200px;
}
.label-1 {
    font-size: 20px;
    padding-bottom: 10px;
}
#fio {
    width: 600px;
height: 25px;
padding: 20px;
margin-bottom: 30px;
 color: rgba(146, 147, 143, 1);
    font-size: 20px;
}
.inputs {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.label-2 {
    display: block;
}
#tel {
    width: 280px;
    height: 25px;
    padding: 20px;
     color: rgba(146, 147, 143, 1);
    font-size: 20px;
}
#email {
    width: 280px;
    height: 25px;
    padding: 20px; 
     color: rgba(146, 147, 143, 1);
    font-size: 20px;
}
#prich {
    width: 650px;
    height: 25px;
    padding: 30px;
    margin-bottom: 30px;
     color: rgba(146, 147, 143, 1);
    font-size: 20px;
}
textarea {
    min-width:600px;
    min-height: 80px;
    padding: 30px;
    color: rgba(146, 147, 143, 1);
    font-size: 20px;
}
.article-13 {
    display: flex;
    padding: 30px 0px;
    gap: 20px;
    font-size: 20px;
}
.but-6 
{
    font-size: 20px;
    padding: 15px 35px;
    background-color: transparent;
    color: white;
    width: 300px;
    border: 1px solid white;
}
.last-section {
    display: flex;
    justify-content: space-between;
    padding: 70px 30px;
    background-color: rgba(49, 49, 49, 1);
    color: white;
}
.part-1 {
    width: 300px;
}
.part-1 p {
    font-size: 20px;
    padding: 30px 0px;
}
.par-15 {
    color: rgba(120, 120, 120, 1);
}
.part-2 p {
    font-size: 20px;
    padding-bottom: 20px;
}

@media (max-width:510px) {
    header {
        height: 180vh;
    }

    nav {
        background-color: rgba(54, 53, 53, 0.767);
        justify-content: space-between;
        padding: 20px 20px;
    }

    .hide-in-phone {
        display: none;
    }

    .hide-in-desk {
        display: block;
    }

    .sector-1 {
        padding: 30px 20px 100px;

    }

    .sector-1 h2 {
        font-size: 35px;
    }

    .but-1 {
        padding: 20px 27%;
    }

    .img-1 {
        top: 80%;
        left: 80%;
    }

    .section-1 h2 {
        font-size: 35px;
    }

    .par-1 {
        width: 350px;
    }

    .articles {
        flex-wrap: nowrap;
        overflow: scroll;
    }

    .article-1 {
        min-width: 90%;
    }

    .head-2 {
        font-size: 40px;
    }

    .but-3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        color: white;
        background-color: rgba(14, 158, 47, 1);
        font-size: 20px;
        width: 350px;
        height: 60px;
        border: none;
        padding: 15px;
        margin: 0px 25px 50px;
    }

    .img-4 {
        width: 90%;
        margin: 0px auto 10px;
        margin-left: 20px;
    }

    .head-3 {
        font-size: 35px;
        color: rgba(73, 75, 68, 1);
        margin: 30px 20px 20px;
    }

    .par-2 {
        color: rgba(146, 147, 143, 1);
        margin: 0px 20px 70px;
    }

    .section-3 {
        width: 100%;
        height: auto;
    }

    .article-3 {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px 0px;
    }

    .sector-7 h2 {
        font-size: 30px;
        width: 350px;
    }

    .sector-7 {
        padding: 50px 30px 30px;
    }

    .sector-8 {
        width: 90%;
        height: 180vh;
        padding: 20px 20px 0px;
    }

    .sector-9 {
        flex-direction: column;
        padding: 0px 20px;
    }

    .img-5 {
        width: 100%;
    }

    .sector-9 h3 {
        font-size: 35px;
        padding-bottom: 20px;
    }

    .sector-10 {
        flex-direction: column;
        border-bottom: none;
    }

    .sector-10 h2 {
        font-size: 40px;
    }

    .img-7 {
        margin: 20px 0px 0px 80%;
    }

    .sector-11 {
        min-width: 90%;
        height: auto;
    }

    .article-8 {
        overflow: scroll;
    }

    .sector-13 {
        min-width: 90%;
    }

    .sector-13 h5 {
        font-size: 25px;
    }

    .sector-13 p {
        font-size: 20px;
    }

    .section-7 h2 {
        font-size: 40px;
    }
    .article-10 {
        flex-direction: column;
        padding: 10px 20px;
    }
    .section-8 {
        width: 100%;
        height: auto;
    }
    .sector-14 h2 {
        font-size: 35px;
    }
    .par-11 {
        width: 350px;
    }
    .sector-14 {
        width: 100%;
    }
    .sector-15 {
        border-radius: 0px;
        width: 95%;
        height: auto;
        padding:30px 20px;
        margin: 0px;
        flex-direction: column;
    }
    #fio {
        width: 85%;
        height: 20px;
    }
    .inputs {
        flex-direction: column;
    }
    #prich {
        width: 95%;
    }
    textarea {
        min-width: 80%;
        min-height: 90%;
    }


}